@charset "UTF-8";
.reg{
	 padding: 250px;
    padding-right: 100px;
    font-weight: bold;
    color: rgb(105 56 150);
    font-family: 'Acme', sans-serif;
}
.ps{
color: brown;
        font-size: 100px;
        height: 80pxpx;  
    border-radius: 10px;
    width: 90px;
    font-weight: bold;
    margin-top: 30px;
    background-color: rgb(173, 197, 231);
    font-weight: bold;
    cursor: pointer;
}